<h1>GET</h1>
<div>
  <input [(ngModel)]="getIn1" placeholder="Enter id">
  <button (click)="getRequest()">GET</button>
  <div *ngIf="getOut1 != null">{{ getOut1 }}</div>
</div>

<h1>POST</h1>
<div>
  <input [(ngModel)]="postIn1" placeholder="Enter id">
  <input [(ngModel)]="postIn2" placeholder="Enter name">
  <input [(ngModel)]="postIn3" placeholder="Enter content">
  <input [(ngModel)]="postIn4" placeholder="Enter done">
  <button (click)="postRequest()">POST</button>
</div>

<h2>GET ALL</h2>
<div>
  <button (click)="getAllRequest()">GET ALL</button>
  <div *ngIf="getAllOut1 != null">{{ getAllOut1 }}</div>
</div>

<h2>DELETE</h2>
<div>
  <input [(ngModel)]="deleteIn1" placeholder="Enter id">
  <button (click)="deleteRequest()">DELETE</button>
</div>

<h1>PUT (UPDATE)</h1>
<div>
  <input [(ngModel)]="putIn1" placeholder="Enter id">
  <input [(ngModel)]="putIn2" placeholder="Enter name">
  <input [(ngModel)]="putIn3" placeholder="Enter content">
  <input [(ngModel)]="putIn4" placeholder="Enter done">
  <button (click)="putRequest()">PUT</button>
</div>
